<!--Main menu-->
<div class="menu">
  <div class="container">
    <div class="row">
      <div class="menu__wrapper d-none d-lg-block col-md-12">
        <nav class="">
          <ul>
            <li><a href="#hello">Hello</a></li>
            <li><a href="#resume">Services</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <!-- <li><a href="#testimonials">Quotes</a></li> -->
            <!-- <li><a href="#blog">blog</a></li> -->
            <li><a href="#tech-stack">Tech-Stack</a></li>
          </ul>
        </nav>
      </div>
      <div class="menu__wrapper col-md-12 d-lg-none">
        <button type="button" (click)="toggleMenu()" class="menu__mobile-button">
          <span><i class="fa fa-bars" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
  </div>
</div>
<!--Main menu-->

<!-- Mobile menu -->
<div class="mobile-menu d-lg-none" [ngClass]="{'active' : isActive}">
  <div class="container">
    <div class="mobile-menu__close" (click)="toggleMenu()">
      <span><i class="mdi mdi-close" aria-hidden="true"></i></span>
    </div>
    <nav class="mobile-menu__wrapper">
      <ul>
        <li><a href="#hello" (click)="toggleMenu()">Hello</a></li>
        <li><a href="#resume" (click)="toggleMenu()">Services</a></li>
        <li><a href="#portfolio" (click)="toggleMenu()">Portfolio</a></li>
        <!-- <li><a href="#testimonials">Quotes</a></li> -->
        <!-- <li><a href="#blog">blog</a></li> -->
        <li><a href="#tech-stack" (click)="toggleMenu()">Tech-Stack</a></li>
      </ul>
    </nav>
  </div>
</div>
<!-- Mobile menu -->